<style media="screen">
#boxdiv{
    background-image:url("../../public/Marathon.jpg");
    background-attachment: fixed;
    width: 100%;
    min-height: 500px;
    height: 100vh;
    transition: height .3s;
}
#boxaside{
  background-color: white;
  height: inherit;
  width: 500px;
  padding: 110px 85px;
  z-index: 1;
  transition: margin-left .5s;
  margin-left: -500px;
}
#loginbox{
  display: block;
  position: absolute;
  width: 330px;
}
#signupbox{
  display: none;
  position: absolute;
  width: 330px;
}

#boxaside img{
  padding-bottom:20px;
}

.form-control{
  margin-top: 5px;
}

.rejected{
  display: none;
  transition: opacity 1.5s;
}

</style>

<div id="boxdiv">
  <aside id="boxaside">

    <form id="loginbox" action="/login" method="post">

        <img src="/public/marathon-logo.png" alt="" width="244px">

        <h3 class="mb-3 font-weight-normal">Sign in</h3>

        <input id="loginemail" type="email" class="form-control" placeholder="Email address" name="email" required>
        <input type="password" class="form-control" placeholder="Password" name="password" required>

        <p class="mt-3">Trouble in Login ? <a href="/forgetpassword">Forget Password</a></p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <hr>

        <p>Not Registered ? <a href="javascript:show_signup()">Create an Account</a></p>

        <p class="mt-5 mb-3 text-muted">&copy; Marathon Sports 2018</p>
    </form>

<!-- ==================================================================================================================== -->

    <form id="signupbox" action="/join" method="post">

        <img class="mb-4" style="border-radius: 4px;" src="/public/marathon-logo.png" alt="" width="244px">

        <h3 class="mb-3 font-weight-normal">Register</h3>

        <input id="signupusername" type="text" class="form-control" placeholder="Username" name="username" required><span class="rejected"></span>
        <input type="email" class="form-control" placeholder="Email Address" name="email" required>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <input type="password" class="form-control" placeholder="Confirm Password" required>
        <br>

        <input type="checkbox" value="accept"> I agree to the <a href="/Terms&Privacy" target="_blank" required>Terms & Privacy</a> and privacy statement.

        <button class="mt-3 btn btn-lg btn-primary btn-block" type="submit" disabled>Sign up</button>
        <hr>

        <p class="mt-3">Already have Account ? <a href="javascript:show_login()">log in</a></p>
        <p class="mt-5 text-muted">&copy; Marathon Sports 2018</p>
        <div class="container signin"></div>
    </form>
  </aside>
</div>
<!-- ==================================================================================================================== -->
<script type="text/javascript">

    window.addEventListener("scroll", loginboxfx);
    function loginboxfx() {
    if (window.pageYOffset == 0){
            document.getElementById("boxaside").style.marginLeft = "0px";
            document.getElementById("boxdiv").style.height = "100vh";
        } else {
            document.getElementById("boxaside").style.marginLeft = "-500px";
            document.getElementById("boxdiv").style.height = "75vh";
        }
    }
    function show_signup(){
      document.getElementById("signupbox").style.display = "block";
      document.getElementById("loginbox").style.display = "none";
        }
    function show_login(){
      document.getElementById("signupbox").style.display = "none";
      document.getElementById("loginbox").style.display = "block";
    }
// ============================================================================
document.getElementById("signupusername").addEventListener("blur", function( event ) {
  var userslist = `<%= userslist %>`.toUpperCase().split(`,`);
  if (userslist.includes(event.target.value.toUpperCase())){
    event.target.nextSibling.style.color="red";
    event.target.nextSibling.style.display ="block";
    event.target.nextSibling.innerHTML="&#10008; Sorry, username is already in used.";
  }else{
    event.target.nextSibling.style.display ="none";
  }

}, true);
</script>
