<style media="screen">
#boxdiv{
    background-image:url("../../public/Marathon.jpg");
    background-attachment: fixed;
    width: 100%;
    min-height: 500px;
    height: 100vh;
    transition: height .3s;
}
#boxaside{
  background-color: white;
  height: inherit;
  width: 500px;
  padding: 110px 85px;
  z-index: 1;
  transition: margin-left .5s;
  margin-left: 0px;
}
#loginbox{
  display: block;
  position: absolute;
  width: 330px;
}
#signupbox{
  display: none;
  position: absolute;
  width: 330px;
}

#boxaside img{
  padding-bottom:20px;
}

.form-control{
  margin-top: 5px;
}

.rejected{
  display: none;
  transition: opacity 1.5s;
}

</style>

<div id="boxdiv">
    <% if(typeof username == 'undefined') { %>

  <aside id="boxaside">

<!-- ==================================================================================================================== -->

    <form id="loginbox" action="/login" method="post">

        <img src="/public/marathon-logo.png" alt="" width="244px">

        <h3 class="mb-3 font-weight-normal">Sign in</h3>

        <input id="loginemail" type="email" class="form-control" placeholder="Email address" name="email" required>
        <input type="password" class="form-control" placeholder="Password" name="password" required>

        <p class="mt-3">Trouble in Login ? <a href="/forgetpassword" target="_blank">Forget Password</a></p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <hr>

        <p>Not Registered ? <a href="javascript:show_signup()">Create an Account</a></p>

        <p class="mt-5 mb-3 text-muted">&copy; Marathon Sports 2018</p>
    </form>

<!-- ==================================================================================================================== -->

    <form id="signupbox" action="/join" method="POST">

        <img class="mb-4" style="border-radius: 4px;" src="/public/marathon-logo.png" alt="" width="244px">

        <h3 class="mb-3 font-weight-normal">Register</h3>

        <input id="signupusername" type="text" class="form-control" placeholder="Username" name="username" required><span class="rejected"></span>
        <input id="signupemail" type="email" class="form-control" placeholder="Email Address" name="email" required><span class="rejected"></span>
        <input id="signuppassword" type="password" class="form-control" placeholder="Password" name="password" required>
        <input id="signupconfirmpassword" type="password" class="form-control" placeholder="Confirm Password" required><span class="rejected"></span>
        <br>

        <input type="checkbox" required> I agree to the <a href="/termsofuse" target="_blank">Terms & Privacy</a> and privacy statement.

        <button id="signupbth" class="mt-3 btn btn-lg btn-primary btn-block" type="submit" disabled>Sign up</button>
        <hr>

        <p class="mt-3">Already have Account ? <a href="javascript:show_login()">log in</a></p>
        <p class="mt-5 text-muted">&copy; Marathon Sports 2018</p>
        <div class="container signin"></div>
    </form>

<!-- ==================================================================================================================== -->

  </aside>
  <% } %>

</div>


<script type="text/javascript">
<% if(typeof username == 'undefined') { %>

// ============================================================================

window.addEventListener("scroll", function(){
  if (window.pageYOffset == 0){
          document.getElementById("boxaside").style.marginLeft = "0px";
          document.getElementById("boxdiv").style.height = "100vh";
      } else {
          document.getElementById("boxaside").style.marginLeft = "-500px";
          document.getElementById("boxdiv").style.height = "100vh";
      }
});
function show_signup(){
  document.getElementById("signupbox").style.display = "block";
  document.getElementById("loginbox").style.display = "none";
    }
function show_login(){
  document.getElementById("signupbox").style.display = "none";
  document.getElementById("loginbox").style.display = "block";
}

// ============================================================================
var userslist = `<%= userslist %>`.toUpperCase().split(`,`);
document.getElementById("signupusername").addEventListener("input", function( event ) {
  if (event.target.value.match(/^[A-Za-z0-9]+$/)==null && event.target.value!==""){
    event.target.nextSibling.style.color="red";
    event.target.nextSibling.style.display ="block";
    event.target.nextSibling.innerHTML="&#10008; Non-alphabetics are not allowed.";
    document.getElementById("signupbth").disabled=true;
  }else if (userslist.includes(event.target.value.toUpperCase())){
    event.target.nextSibling.style.color="red";
    event.target.nextSibling.style.display ="block";
    event.target.nextSibling.innerHTML="&#10008; Sorry, username is already taken.";
    document.getElementById("signupbth").disabled=true;
  }else{
    event.target.nextSibling.style.display ="none";
    check();
  }
}, true);
document.getElementById("signupemail").addEventListener("input", function( event ) {
  var emailslist = `<%= emailslist %>`.split(`,`);
  if (emailslist.includes(event.target.value)){
    event.target.nextSibling.style.color="red";
    event.target.nextSibling.style.display ="block";
    event.target.nextSibling.innerHTML="&#10008; Sorry, email is invalid or already in used.";
    document.getElementById("signupbth").disabled=true;
  }else{
    event.target.nextSibling.style.display ="none";
    check();
  }
}, true);
document.getElementById("signupconfirmpassword").addEventListener("input", function( event ) {
  if (event.target.value != document.getElementById("signuppassword").value){
    event.target.nextSibling.style.color="red";
    event.target.nextSibling.style.display ="block";
    event.target.nextSibling.innerHTML="&#10008; The password are not matched.";
    document.getElementById("signupbth").disabled=true;
  }else{
    event.target.nextSibling.style.display ="none";
    check();
  }
}, true);

function check(){
  if (  document.getElementById("signupusername").value != "" &&
        document.getElementById("signupemail").value != "" &&
        document.getElementById("signuppassword").value != "" &&
        document.getElementById("signupconfirmpassword").value != ""){
    document.getElementById("signupbth").disabled=false;
  }else{
    document.getElementById("signupbth").disabled=true;
  }
}
<% } %>

</script>
