


<% if(error_message) { %> 
	<div class="alert alert-danger" style="z-index: 1000;z-index: 1000;position: fixed;width: 100%;">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <strong>Warning!</strong> <%= error_message %>
	</div>
 <% } %>