<!-- views/partials/footer.ejs -->
<style>
    .f-style {
        padding: 50px;
        background:#A62639;
        box-shadow: 0 0 0 4px rgba(0,0,0, 0.2);
        color:white;
    }
    .f-style a {
        text-decoration: none;
        color: white;
    }
    .f-style a:hover {
        text-transform: uppercase;
    }
    hr.hrstyle{
    	border-top: 1.5px solid #A29C9B;
    }
</style>

<div class="f-style">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
            <a href="/products">Shopping</a>
            <hr class="hrstyle">
            <a href="/howtoshop">How to Shop</a><br>
            <a href="/">Latest Promotions</a><br>
            <a href="/delivery">Shipping & Delivery</a><br>
            <a href="/refund">Return & Refund</a><br>
            <a href="/history">Order Status</a><br>
            <a href="/help">FAQs</a>
          </div>
          <div class="col-md-3">
            <a href="/about">Company</a>
            <hr class="hrstyle">
            <a href="/about">About Us</a><br>
            <a href="/store">Find A Store</a><br>
            <a href="/termsofuse">Terms of Use</a><br>
            <a href="/privacypolicy">Privacy Policy</a><br>
            <a href="/copyright">Disclaimer & Copyright</a><br>
            <a href="/contact">Staff Registration</a>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <a  href="/contact">Contact Us</a>
            <hr class="hrstyle">
            <p><i class="fas fa-phone"></i> : <a href="tel:2180-0000">(+852)2180 0000</a></p>
            <p><i class="fas fa-envelope"></i> : <a href="mailto:marathon-pos@my.cityu.edu.hk"><u>marathon-pos@my.cityu.edu.hk</u></a></p>
            <p><i class="fas fa-map-marker-alt"></i> : <a href="https://www.google.com/maps/place/Li+Dak+Sum+Yip+Yio+Chin+Academic+Building,+City+University+of+Hong+Kong/@22.3376289,114.1695328,17z/data=!3m1!4b1!4m5!3m4!1s0x3404073400f3ef35:0xb6954fc2f7f6aa44!8m2!3d22.3376289!4d114.1717215" target="_blank"> Room 2410, 2/F,<br> Li Dak Sum Yip Yio Chin Academic Building,<br> City University of Hong Kong,<br> Tat Chee Avenue, Kowloon,<br>Hong Kong</a></p>

          </div>
      </div><br>
      <hr class="hrstyle">
      <center><p>Copyright © 2017 G1_team001. All Rights Reserved.</p></center>
</div>

<script type="text/javascript">
  function BTT(){
    document.getElementById("why-Marathonid").scrollIntoView(false);
  }
</script>
