<!-- views/partials/footer.ejs -->

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; Marathon Sports 2018</p>
        <p>New to Marathon Sports? <a href="/">Visit the homepage</a> or <a href="/register">sign up</a>.</p>
    </div>
    <!-- lang -->
    <!-- <div>
        <center>
            <a href="#">En</a> | <a href="#">Zh-hk</a>
        </center>
    </div> -->
<footer>
