<!-- views/partials/footer.ejs -->

<footer class="text-muted bgcolor">
    <div class="container text-white">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; Marathon Sports 2018</p>
        <p>New to Marathon Sports? <a href="/" style="color:#53A8F7;">Visit the homepage</a> or <a href="/register"style=" color:#53A8F7;">sign up</a>.</p>
    </div>
<footer>
