<!-- views/partials/footer.ejs -->
<div style="height: 120px; width:100%;"></div>

<div class="f-style">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; Marathon Sports 2018</p>
    <p>New to Marathon Sports? <a href="/">Visit the homepage</a> or <a href="/register">sign up</a>.</p>
</div>
<style>

    .f-style {
        padding: 15px;
        background:#A62639;
        box-shadow: 0 0 0 4px rgba(0,0,0, 0.2);
    }
    .f-style a {
        text-decoration: underline;
        color: white;
    }
</style>
