<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Marathon Sports</title>
<!-- icon  -->
<link rel="icon" href="../../../../favicon.ico">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    body    { padding-top:50px; }
</style>
