<!-- views/partials/header -->
<style>
    .cart-num {
        position: absolute;
        left: 20px;
        top: 6px;
        background-color: royalblue;
        width: 24px;
        z-index: 1;
        border-radius: 7px;
        text-align: center;
        color: white;
    }
    @media only screen and (min-width: 990px) {
        .navbar-brand{
            margin-left:5%;
        }
    }
    .navbar {
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
        position:fixed;
        width: 100%;
        z-index: 1000;
        transition: top 1s;
    }
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light movedw" id="navbar">
        <a class="navbar-brand" href="/"><b style="color:#A62630;">Marathon</b> Sports</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/product">Online Store</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Online Store
                    </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form action="/search" method="post">
                            <input name="keyword" value="men" hidden>
                            <button  type="submit" class="dropdown-item">Men</button>
                        </form><form action="/search" method="post">
                            <input name="keyword" value="women" hidden>
                            <button  type="submit" class="dropdown-item">Women</button>
                        </form><form action="/search" method="post">
                            <input name="keyword" value="kids" hidden>
                            <button  type="submit" class="dropdown-item">Kids</button>
                        </form>   
                    <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/products">All Categories</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Advanced
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/contact">Contact Us</a>
                        <a class="dropdown-item" href="/help">FAQs</a>
                        <div class="dropdown-divider"></div>
                        <!-- <a class="dropdown-item" href="/cart">Shoping Cart</a> -->
                        <a class="dropdown-item" href="/store">Find a Store</a>
                    </div>
                </li>
                <!-- <li class="nav-item">
                     <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0" method="post" action="/search">
                <input class="form-control mr-sm-2" type="search" placeholder="Find ..." aria-label="Search" name="keyword">
                <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <script>
            window.addEventListener("scroll", navfx);
            var prevScrollpos = window.pageYOffset;
            function navfx() {
              var currentScrollPos = window.pageYOffset;
                  var currentScrollPos = window.pageYOffset;
                  if (prevScrollpos > currentScrollPos) {
                    document.getElementById("navbar").style.top = "0";
                  } else {
                    document.getElementById("navbar").style.top = "-100px";
                  }
                  prevScrollpos = currentScrollPos;
                }
            </script>

            <!-- <i class="fas fa-shopping-cart fa-2x"></i> -->

            <ul class="navbar-nav">
                <li style="padding:12px;"></li>
                <li class="nav-item">
                    <a href="/cart" style="position: relative;">
                        <div class="cart-num"></div>
                        <i class="fas fa-shopping-cart fa-2x"></i>
                    </a>
                </li>
                <% if(typeof username != 'undefined' && username) { %>
                    <li style="padding:12px;"></li>
                    <li class="nav-item">
                        <a href="/dashboard"><button type="button" class="btn btn-primary"><%= username %></button></a>
                    </li>
                    <li style="padding:12px;"></li>
                    <li class="nav-item">
                        <a href="/logout"><button type="button" class="btn btn-outline-secondary"> Logout</button></a>
                    </li>
                <% } else { %>
                    <li style="padding:12px;"></li>
                    <li class="nav-item">
                        <a onclick="navsignin();"><button type="button" class="btn btn-success">Sign in</button></a>
                    </li>
                    <li style="padding:12px;"></li>
                    <li class="nav-item">
                        <a onclick="navsignup();"><button type="button" class="btn btn-outline-primary">Sign up</button></a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>
<script>

    function navsignin(){
      location.replace("/");
    }

    function navsignup(){
      location.replace("/");
    }

    function addToCart(id){
      var size = document.getElementById(`size${id}`).value;
        var count = $('.cart-num').text();
        count++;
        $('.cart-num').html(count);
        $.ajax({
            url:'/add-to-cart',
            type:'post',
            data: {p_id: id,p_size:size},
            success:function(result){
            },error:function(err){
                console.log(err);
            }
        });
    }

</script>
