<div class="container">
	<input type="radio" name="slides" id="slide1" value="1" checked>
	<input type="radio" name="slides" id="slide2" value="2">
	<input type="radio" name="slides" id="slide3" value="3">
	<input type="radio" name="slides" id="slide4" value="4">
	<input type="radio" name="slides" id="slide5" value="5">
	<input type="radio" name="slides" id="slide6" value="6">
	<input type="radio" name="slides" id="slide7" value="7">

	<div class="slider">
		<div class="captions">
			<div class="c1">new balance</div>
			<div class="c2">reebok</div>
			<div class="c3">skechers</div>
			<div class="c4">le coq sportif</div>
			<div class="c5">puma</div>
			<div class="c6">Adidas</div>
			<div class="c7">heelys</div>
		</div>
		<div class="img img1">
			<div class="frag frag1"></div>
			<div class="frag frag2"></div>
			<div class="frag frag3"></div>
			<div class="frag frag4"></div>
			<div class="frag frag5"></div>
			<div class="frag frag6"></div>
			<div class="frag frag7"></div>
		</div>
		<div class="img img2">
			<div class="frag frag1"></div>
			<div class="frag frag2"></div>
			<div class="frag frag3"></div>
			<div class="frag frag4"></div>
			<div class="frag frag5"></div>
			<div class="frag frag6"></div>
			<div class="frag frag7"></div>
		</div>
		<div class="img img3">
			<div class="frag frag1"></div>
			<div class="frag frag2"></div>
			<div class="frag frag3"></div>
			<div class="frag frag4"></div>
			<div class="frag frag5"></div>
			<div class="frag frag6"></div>
			<div class="frag frag7"></div>
		</div>
		<div class="img img4">
			<div class="frag frag1"></div>
			<div class="frag frag2"></div>
			<div class="frag frag3"></div>
			<div class="frag frag4"></div>
			<div class="frag frag5"></div>
			<div class="frag frag6"></div>
			<div class="frag frag7"></div>
		</div>
		<div class="img img5">
			<div class="frag frag1"></div>
			<div class="frag frag2"></div>
			<div class="frag frag3"></div>
			<div class="frag frag4"></div>
			<div class="frag frag5"></div>
			<div class="frag frag6"></div>
			<div class="frag frag7"></div>
		</div>
		<div class="img img6">
			<div class="frag frag1"></div>
			<div class="frag frag2"></div>
			<div class="frag frag3"></div>
			<div class="frag frag4"></div>
			<div class="frag frag5"></div>
			<div class="frag frag6"></div>
			<div class="frag frag7"></div>
		</div>
		<div class="img img7">
			<div class="frag frag1"></div>
			<div class="frag frag2"></div>
			<div class="frag frag3"></div>
			<div class="frag frag4"></div>
			<div class="frag frag5"></div>
			<div class="frag frag6"></div>
			<div class="frag frag7"></div>
		</div>

	</div> <!-- koniec slidera -->
	 <!--
<div class="controls">
		<label for="slide1"></label>
		<label for="slide2"></label>
		<label for="slide3"></label>
		<label for="slide4"></label>
		<label for="slide5"></label>
		<label for="slide6"></label>
		<label for="slide7"></label>
	</div>
-->
</div><!--  end of container -->
