<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

    <style>
        .description-title {
            font-weight: bold;
            color: #C81D25;
        }
        .bgcolor{
            background:#A62639;
        }
       .Marathon-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
      }
    </style>
</head>
<body>
    <!-- header -->
    <% include ../partials/nav %>
    <div style="height:50px; width:100%;"></div> 
    <div>
        <img src="/public/images/aboutus_title.jpg" style="width: 100%;">
    </div>
    <div class="album py-5 bgcolor" style="color:white;">
            <center><h1>ABOUT US</h1></center>
    </div>
    <div class="container">
        <main role="main">
            <div class="album py-5 bg-light card mt-5 mb-5">
                <div class="container" style="width:75%;">
                    <div class="album py-5 mb-5">
                        <img src="/public/marathon-logo.png" alt="" class="Marathon-logo">
                    </div>
                        <div class="each-row">
                            <h4 class="description-title">
                                About Marathon Sports
                            </h4><br/>
                            <p>
                                &emsp;Marathon Sports is one  of the largest and most popular chains of sporting goods stores in Hong Kong.  It offers the widest range of sports and sports-inspired footwear, apparel and accessories to help every customer go the distance and enjoy a lifetime of active, healthy living!
                            </p>
                        </div>
                            <div class="each-row">
                                <br/><h4 class="description-title">
                                    Everywhere Everything Everyone
                                </h4><br/>
                                <p>
                                    &emsp;Marathon Sports is a convenient one-stop destination, offering multiple brands with a wide range of strategic locations throughout Hong Kong. Found in almost every neighbourhood, we pride ourselves on our friendly environment, and on our team of passionate, professional sales staff who are always ready to help with a warm welcome and a personal touch.
                                    <br/><br/>
                                    &emsp;Boasting an unrivalled variety of affordable and popular brands, Marathon Sports caters to every sporting taste, need and skill level. Every customer - from aspiring competitive athletes and weekend gym-goers to fit families and active kids, will find what they need here to.
                                </p>
                            </div>
                                <div class="each-row">
                                    <br/><h4 class="description-title">
                                        Fitness Fun Family Friends
                                    </h4><br/>
                                    <p>
                                        &emsp; Marathon Sports believes an active community is a healthy community, and hopes to use sports to bring people together, promote unity and drive positive change.  We do this through organising events and activities that engage families, especially those with young children, so we can introduce healthy lifestyle habits to the next generation as early as possible while reinforcing the bonds between family members, friends and within the community as a whole.
                                        <br/><br/>
                                        &emsp;Every member of our team loves sports and looks forward to sharing their knowledge with customers, whether it is to assist them in selecting suitable products for different sports activities or to offer tips for healthy and fit living.
                                    </p>
                                </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <!-- footer -->
    <% include ../partials/footer %>
</body>




</html>
