<html lang="en" class="gr__getbootstrap_com">
<head>
    <!-- Bootstrap core CSS -->
    <% include ../partials/head %>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/static/signin.css">

    <style>
    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #fdfdfd;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
    </style>
</head>

<body>
  <div class="card bg-light text-dark">
    <div class="card-body">
      <form action="#">
          <div class="form-group">
              <h1>Change password</h1>
              <br>

              <label for="username"><b>Username</b></label>
              <input type="text" placeholder="Enter Usernamae" name="username" required>

              <label for="old_psw"><b>Old password</b></label>
              <input type="password" placeholder="Enter Old Password" name="old-psw" required>

              <label for="new_psw"><b>New Password</b></label>
              <input type="password" placeholder="Enter New Password" name="new-psw" required>

              <label for="repeat_new_psw"><b>Confirm Password</b></label>
              <input type="password" placeholder="Enter New Passowrd Again" name="repeat-new-psw" required>

              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
  </div>
  </div>
</body>
</html>
