<html lang="en" class="gr__getbootstrap_com">
<head>
    <!-- Bootstrap core CSS -->
    <% include ../partials/head %>
    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">
</head>

<body>
    <% include ../partials/dashboardNavbar %>
    <div class="card bg-light text-dark">
        <div class="card-body">
            <form action="#">
                <div class="form-group">
                    <h1>Change password</h1>
                    <br>
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Usernamae" name="username" required>

                    <label for="old_psw"><b>Old password</b></label>
                    <input type="password" placeholder="Enter Old Password" name="old-psw" required>

                    <label for="new_psw"><b>New Password</b></label>
                    <input type="password" placeholder="Enter New Password" name="new-psw" required>

                    <label for="repeat_new_psw"><b>Confirm Password</b></label>
                    <input type="password" placeholder="Enter New Passowrd Again" name="repeat-new-psw" required>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
