<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <!-- navbar -->
        <% include ../partials/nav %>
        <div style="height:80px; width:100%;"></div>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://www.nationalarchives.gov.uk/doc/non-commercial-government-licence/version/2/" allowfullscreen></iframe>
        </div>
        <!-- footer -->
        <% include ../partials/footer %>

    </body>
</html>
