
<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <% include ../partials/head %>

    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">

</head>

<body>
    <div class="topnav">
        <a href="/"><span><b>Marathon</b> Sports</span></a>
        <a href="#">
            <span style="cursor:pointer;" onclick="openNav()">&#9776;</span>
        </a>
        <a href="/logout" class="float-right">Logout</a>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">My Account</a>
        <a href="#">Shopping Details</a>
        <a href="#">Change Password</a>
    </div>
    <div class="container">
        <h3>Welcome to dashboard</h3>
    <div>

    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>

</body>

</html>
