
<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <% include ../partials/head %>

    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">

</head>

<body>
    <% include ../partials/dashboardNavbar %>
    <div class="container">
        <h3>Welcome to dashboard</h3>
    <div>

</body>

</html>
