<html lang="en" class="gr__getbootstrap_com">
<head>
    <!-- Bootstrap core CSS -->
    <% include ../partials/head %>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/public/signin.css">
    <style>
                    .bgcolor{
            background:#A62639;
        }
             .Marathon-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
      }
    </style>
</head>

<body>
                    <div class="album py-5 mt-5 mb-5">
                        <img src="/public/marathon-logo.png" alt="" class="Marathon-logo">
                    </div>
    <div class="card bg text-white" style="background-color:#A62639; padding:40px;">
        <div class="card-body container">
            <form action="#">
                <div class="form-group">
                    <h2>Trouble Logging In?</h2>
                    <p>Enter your email and we'll send you a link to get back into your account.</p>
                    <br>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="" name="email" required>

                    <button type="submit" class="btn btn-primary" style="background-color:white; color:#A62639; padding:2.5px 4px;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
