<html lang="en" class="gr__getbootstrap_com">
<head>
    <!-- Bootstrap core CSS -->
    <% include ../partials/head %>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/static/signin.css">
</head>

<body>
    <div class="card bg-light text-dark">
        <div class="card-body">
            <form action="#">
                <div class="form-group">
                    <h1>Forget Password? Reset your password here.</h1>
                    <p>Please type your email here.</p>
                    <br>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>

                    <label for="old_psw"><b>Old password</b></label>
                    <input type="password" placeholder="Enter Old Password" name="old-psw" required>

                    <label for="new_psw"><b>New Password</b></label>
                    <input type="password" placeholder="Enter New Password" name="new-psw" required>

                    <label for="repeat_new_psw"><b>Confirm Password</b></label>
                    <input type="password" placeholder="Enter New Passowrd Again" name="repeat-new-psw" required>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
