<html lang="en" class="gr__getbootstrap_com">
<head>
    <!-- Bootstrap core CSS -->
    <% include ../partials/head %>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/public/signin.css">
</head>

<body>
    <div class="card bg-primary text-white">
        <div class="card-body">
            <form action="#">
                <div class="form-group">
                    <h2>Forget Password? Reset your password here.</h2>
                    <p>Please type your email here.</p>
                    <br>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>

                    <button type="submit" class="btn btn-primary" style="background-color:white; color:blue;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
