<head>
    <% include ../partials/head %>
    <!-- additonal cdn -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <style>
        .dataTables_length{
            display: none;
        }
        mark {
          background: orange;
          color: black;
        }
    </style>
<head>

<body>
    <% include ../partials/nav %>
    <div class="container">
        <div style="height:120px; width:100%;"></div>
        <div class="card">
            <!-- <div>
                <nav aria-label="breadcrumb" class="float-right" style="font-size:12px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Support</li>
                    </ol>
                </nav>
            </div> -->
            <div class="card-body">
                <table id="" class="display q-table" style="width:100%">
                    <thead>
                        <tr>
                            <th> </th>
                            <th> Questions</th>
                            <th> Anwsers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Q1 </td>
                            <td> <p>How could I know whether my desire product is still for sale? </p> </td>
                            <td> <p>Click on the desire product for further product details, the product details page would show the total number of inventories among all of our branches.</p> </td>
                        </tr>
                        <tr>
                            <td> Q2 </td>
                            <td> <p>How could I make my payment? </p>  </td>
                            <td> <p>Visa, Master Credit Card, Paypal, AliPay are accepted for online purchase. Cash is also welcomed if “payment on arrival” has been chosen.</p> </td>
                        </tr>
                        <tr>
                            <td> Q3 </td>
                            <td> <p>Why do I need an Marathon account? </p>  </td>
                            <td> <p>Signing in to the official website will be required when purchasing from our store or posting comments on our official forums.</p> </td>
                        </tr>
                        <tr>
                            <td> Q4 </td>
                            <td> <p>Can I edit my username? </p>  </td>
                            <td> <p>Unfortunately, you cannot change the username. If it is a matter of privacy, please submit a ticket or contact an admin on the forum requesting help.</p> </td>
                        </tr>
                        <tr>
                            <td> Q5 </td>
                            <td> <p>How do I edit my Marathon Account Email? </p>  </td>
                            <td> <p>Please follow the steps to below to edit your account email address:<hr>1. Sign in your Account. If you are unable to sign in your account, please try resetting the password at the first time.<hr>2. Once you've signed in, select "Edit Email Address" and enter your new email address.<hr>3. Enter the password associated with the account. Once we authenticate the password, a confirmation link will be sent to your new email address along with a notification to your old email address.<hr>4. The confirmation link would be valid for 24 hours<hr>5. If the confirmation link expires, simply repeat step 1-4 again to edit your email address.<hr>We hope this helps!<br><br>(Note: Please check that Marathon emails are not entering your spam or junk folder!)</p> </td>
                        </tr>
                        <tr>
                            <td> Q6 </td>
                            <td> <p>How do I reset my Marathon Account password? </p>  </td>
                            <td> <p>Please follow the steps below to reset your Account password:<hr>1. Select "Forgot Password" located just below the "Login" button when you sign in to your Marathon Account<hr>2. Enter the email address of the account you wish to reset the password for.<hr>3. If an account associated with said email exists, a password reset link will be sent to the email address (Note: this may take a couple of minutes)<hr>4. Once you receive the confirmation link, simply click the link and follow the quick and simple steps to reset your password<hr>We hope this helps!<br><br>(Note: Please make sure Marathon emails are not entering your spam or junk folder)</p> </td>
                        </tr>
                        <tr>
                            <td> Q7 </td>
                            <td> <p>I didn’t receive a confirmation email after I changed the password/email address, now I can’t log on to my account at all. </p>  </td>
                            <td> <p>If you are not able to confirm the new email address of your account within 24 hours, the new email address will not be updated. You will be able to log in using your old email address. If you fail to receive the confirmation email after you reset your password or email address, the email may be caught in your spam filter. If you are still unable to locate the confirmation email, please send an email to support@oneplus.net for assistance.</p> </td>
                        </tr>
                        <tr>
                            <td> Q8 </td>
                            <td> <p>Does Marathon collect and store my credit card details? </p>  </td>
                            <td> <p>Rest assured that we do not collect or store your credit card details. All payments are handled by either PayPal or Cybersource, based on your method of payment. Once you reach the final stage of the checkout process, you will be taken directly to PayPal’s / Cybersource' secure site. Your credit card details are never accessible to us.</p> </td>
                        </tr>
                        <tr>
                            <td> Q9 </td>
                            <td> <p>What should I do if I get a payment error? </p>  </td>
                            <td> <p>If you are using a PayPal account, please make sure that your shipping address exactly matches the address that you have on file of PayPal. An extra space or missing punctuation can cause the payment to fail. Once you have amended your shipping information, please try again.<br><br>If you are using a Credit Card, please make sure that all credit card information is correctly filled in. Your order can be found in the Pending Payments tab under My Account.<br><br>If payment problems persist, please contact PayPal or try a different method of payment. PayPal's phone numbers are: 1-888-221-1161 (US), 1-402-935-2050 (if calling from outside the US)</p> </td>
                        </tr>
                        <tr>
                            <td> Q10 </td>
                            <td> <p>What payment method do you accept? </p>  </td>
                            <td> <p>Currently, the available payment methods for purchasing from our website are PayPal and Credit Card. For PayPal inquires, please contact PayPal directly at 1-888-221-1161 (U.S.) or 1-402-935-2050 (calling from outside the U.S.) For Credit Card inquires, please contact your issuing bank for more information.</p> </td>
                        </tr>
                        <tr>
                            <td> Q11 </td>
                            <td> <p>How long do I have for payment? </p>  </td>
                            <td> <p>After placing an order, you will have 1 hour to complete the payment. OnePlus will also send out reminders. Orders will be canceled automatically if the payment is not completed within 1 hour. Don't worry if you miss the 1-hour window! Simply re-purchase the items when you’re ready! We are open to everyone, every minute!</p> </td>
                        </tr>
                        <tr>
                            <td> Q12 </td>
                            <td> <p>How come my credit card payment isn't going through? </p>  </td>
                            <td> <p>Please confirm that the credit card information has been filled in correctly. If this is the case, please try again after a few minutes. If the problem persists, check with your credit card issuer or try a different method of payment. You may also try to use a different payment method, i.e. PayPal. If the payment still fails, please send us a screenshot of the error message.</p> </td>
                        </tr>
                        <tr>
                            <td> Q13 </td>
                            <td> <p>What do I do when my online transaction fails? </p>  </td>
                            <td> <p>First, you will want to look into why it might have failed, there could be various reasons:<br><br>1. A problem with the credit card<br><br>2. Your online Payment Gateway settings<br><br>3. Incorrect card details provided during payment<hr>Here is a list of actions you could take:<br><br>1. Make sure that your debit/credit card details are correct when making a purchase.<br><br>2. Try to use an alternative card or payment method such as PayPal if possible.<br><br>3. Contact your debit/credit card provider with the error message, they may be able to identify the issue you are having.<br><br>4. If you are still having transaction problems, please contact us with details of the error message.</p> </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div style="height: 24px; width:100%;"></div>

    <footer>
        <!-- footer -->
        <% include ../partials/footer %>
    </footer>

    <script>
        $(document).ready(function() {
            // script relavant to datatable
            $('table.display').DataTable({
                "ordering": false,
                'columnDefs': [
                    {
                        "targets": 0, // your case first column
                        "className": "text-left",
                        // "width": "4%"
                    },
                    {
                        "targets": 1, // your case first column
                        // "width": "2%",
                        "className": "text-left",

                    },
                    {
                        "targets": 2,
                        "className": "text-left",
                    },
                    // {
                    //     "targets": 3,
                    //     "className": "text-center",
                    // }
                ],
                // 'searching': false,
                // 'paging': false,
                'info': false,
                'responsive': true,
                "scrollX": true,
                // 'searchHighlight': true,
                mark: true,
            });
            $.extend(true, $.fn.dataTable.defaults, {
                mark: true
            });

        } );

        var prevScrollpos = window.pageYOffset;
        window.onscroll = function hide_navbar() {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos < currentScrollPos) {
                document.getElementById("navbar").style.top = "0px";
            } else {
                document.getElementById("navbar").style.top = "0x";
            }
            prevScrollpos = currentScrollPos;
        }

    </script>
    <script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js),datatables.mark.js"></script>
    <script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js)"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.js"></script>
    <link href="https://cdn.jsdelivr.net/datatables.mark.js/2.0.0/datatables.mark.min.css">
    <link href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css">
</body>
