<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <!-- Custom styles for this template -->
        <link href="/static/album.css" rel="stylesheet">
        <!-- Custom script for this template -->
        <script src="/static/holder.min.js"></script>
    </head>
    <body>
        <!-- header -->
        <% include ../partials/header %>
        <div class="container">
            <main role="main">
                <section class="jumbotron text-center">
                    <div class="container">
                        <h1 class="jumbotron-heading">Why Marathon Sports</h1>
                        <p class="lead text-muted">Marathon Sports is one  of the largest and most popular chains of sporting goods stores in Hong Kong.  It offers the widest range of sports and sports-inspired footwear, apparel and accessories to help every customer go the distance and enjoy a lifetime of active, healthy living!<br><small>- Marathon Sports</small></p>
                        <p>
                            <a href="#all-items" class="btn btn-primary my-2">Shop Now</a>
                            <a href="/register" class="btn btn-secondary my-2">Sign Up</a>
                        </p>
                    </div>
                </section>

                <div class="album py-5 bg-light"  id="all-items">
                    <div class="container">
                        <div><center><h2>NEW ARRIVALS</h2></center></div>
                        <div style="height:24px; width:100%;"></div>
                        <div class="row">
                            <% for(var i=0; i < 9; i++) { %>
                              <div class="col-md-4">
                                  <div class="card mb-4 shadow-sm">
                                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                                      <div class="card-body">
                                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                          <div class="d-flex justify-content-between align-items-center">
                                              <div class="btn-group">
                                                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                              </div>
                                              <small class="text-muted">9 mins</small>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            <% } %>
                        </div>
                    </div>
                </div>

            </main>
        <div>
        <!-- footer -->
        <% include ../partials/footer %>
    </body>
</html>
