<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <!-- Custom styles for this template -->
        <link href="/public/album.css" rel="stylesheet">
        <link href="/public/slider.css" rel="stylesheet">
        <!-- Custom script for this template -->
        <script src="/public/holder.min.js"></script>
        <style media="screen">
        .bgcolor{
          background:#A62639;
        }
        main{
          width:100%;
        }
        .why-Marathon{
          padding: 0 10%;
        }
        #bgvideo{
          z-index: -1;
          position:fixed;
          object-fit: cover;
          height: 100%;
        }
        .moveup{
          animation-name: moveup;
          animation-duration: 1s;
        }
        .movedw{
          animation-name: movedw;
          animation-duration: 1s;
        }
        @keyframes moveup {
          from {margin-bottom:400px;}
          to {margin-bottom: 0px;}
        }
        @keyframes movedw {
          from {margin-top:-200px;}
          to {margin-top: 0px;}
        }
        .f-style {
            height: 150px;
        }
        </style>
    </head>
    <body style="scroll-behavior:smooth;">
        <% include ../partials/loginbox %>
        <% include ../partials/signupbox %>

        <!-- header -->
        <div style="height:50px;">
          <video autoplay muted loop id="bgvideo">
            <source src="public/Marathon_Trailer.mp4" type="video/mp4">
          </video>
          <script type="text/javascript">
            window.onload = function() {
              document.getElementById("why-Marathonid").scrollIntoView(false);
            };
          </script>
            <main role="main">
                <% include ../partials/nav %>
                <% include ../partials/alert %>

                <section class="jumbotron" style="background:transparent;height:1000px">
                </section>
                <script type="text/javascript">
                var lastScrollTop = 0;
                window.addEventListener("scroll", function(){ // or window.addEventListener("scroll"....
                   var st = window.pageYOffset || document.documentElement.scrollTop; // Credits: "https://github.com/qeremy/so/blob/master/so.dom.js#L426"
                   if (st > lastScrollTop){
                     if (window.pageYOffset-document.getElementById("navbar").clientHeight<document.getElementById("why-Marathonid").clientHeight){
                       document.getElementById("why-Marathonid").scrollIntoView(false);
                     }
                   } else {
                     if (window.pageYOffset-document.getElementById("navbar").clientHeight<document.getElementById("why-Marathonid").clientHeight){
                       window.scrollTo(500, 0);
                     }
                   }
                   lastScrollTop = st <= 0 ? 0 : st; // For Mobile or negative scrolling
                }, false);
                </script>
                <div class="album py-5 bgcolor" id="why-Marathonid">
                  <div class="container why-Marathon">
                      <h1 class="jumbotron-heading text-center text-white"><b>Why Marathon Sports</b></h1>
                      <p class="lead text-white" style="text-align: justify;">Marathon Sports is one  of the largest and most popular chains of sporting goods stores in Hong Kong.  It offers the widest range of sports and sports-inspired footwear, apparel and accessories to help every customer go the distance and enjoy a lifetime of active, healthy living!</p>
                      <p class="text-white"><small style="float:left;width:100%;text-align:right">~ Marathon Sports</small></p>
                  </div>
                </div>
                <div class="bg-light" style="padding:70px 0;">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <div data-aos="fade-right" style="float:bottom;"><center><h2><br>BEST OF 2018</h2></center></div><br>
                          <p data-aos="fade-right">“The public is more familiar with bad design than good design. It is, in effect, conditioned to prefer bad design, because that is what it lives with. The new becomes threatening, the old reassuring.”</p>
                        </div>
                        <div data-aos="fade-left" class="col-sm-12 col-md-6">

                          <% include ../partials/slider %>
                        </div>
                      </div>
                    </div>
                </div>


                  <div class="album py-5 bg-light">
                    <div class="container">
                        <div style="float:bottom;"><center><h2><br>NEW ARRIVALS</h2></center></div><br>
                        <div class="row">
                            <% for(var i=1; i< 9; i++) { %>
                              <div data-aos="zoom-in" class="col-md-4">
                                  <div class="card mb-4 shadow-sm">
                                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                                      <div class="card-body">
                                          <p class="card-text">dsfls</p>
                                          <div class="d-flex justify-content-between align-items-center">
                                              <div class="btn-group">
                                                  <a href="/product"><button type="button" class="btn btn-sm btn-outline-primary">View</button></a>
                                                  <button type="button" class="btn btn-sm btn-success">Add to chart</button>
                                              </div>
                                              <small class="text-muted">Women</small>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </main>
        <div>
            <!-- footer -->
            <% include ../partials/footer %>
        </div>
        <script>
            var selectedSlide = document.getElementsByName('slides');
            var checkedValue = 1;

            // autoplay slider
            setInterval(function () {
                document.getElementsByName("slides").false;
                changeSlide = document.getElementById("slide" + checkedValue);

                if (checkedValue == selectedSlide.length) {
                    checkedValue = 1;
                    changeSlide.checked = true;
                } else {
                    checkedValue = (checkedValue + 1);
                    changeSlide.checked = true;
                }
            }, 3000);
        </script>
        <script>
          AOS.init();
        </script>
        <script>
          if (document.getElementById('errormessage')) {
            setTimeout(function() {
              document.getElementById('errormessage').style.display = 'none';
            }, 3000);
          }
        </script>
    </body>
</html>
