<!-- views/pages/privacypolicy.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

    <style>
            .description-title {
            font-weight: bold;
            color: #C81D25;
        }
        .policy-detail {
            padding-left: 20px;
        }
                .bgcolor{
            background:#A62639;
        }
             .Marathon-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
      }
    </style>
</head>
<body>
    <!-- header -->
    <% include ../partials/nav %>
    <div style="height:50px; width:100%;"></div> 
    <div>
        <img src="/public/images/aboutus_title.jpg" style="width: 100%;">
    </div>
    <div class="album py-5 bgcolor" style="color:white;">
            <center><h1>PRIVACY POLICY</h1></center>
    </div>
    <div class="container">
        <main role="main">
            <div class="album py-5 bg-light card mt-5 mb-5">
                <div class="container" style="width:75%;">
                    <div class="album py-5 mb-5">
                        <img src="/public/marathon-logo.png" alt="" class="Marathon-logo">
                    </div>
                    <div>
                        <p><i>&emsp;This Privacy Policy explains how your personal information is collected and used by Five Handsome Boys Limited (collectively “Marathon Sports”) from any source, including this website, mobile phone, tablet or other applications or devices.</i></p>
                        
                        <br><h6 class="description-title">
                            1. Type of Personal Data Collected
                        </h6><br>

                        <div class="policy-detail">
                            <p>&emsp;For the purpose of providing our products and services, you may be requested to provide personal data without which we may be unable to handle your request. The information collected may include, but is not limited to the following kinds of personal data:</p>

                            <ol>
                                <li>Name;</li>
                                <li>Service or delivery address, correspondence address, and/or billing address;</li>
                                <li>Contact details, including contact name, telephone number and/or email address</li>
                            </ol>
                        </div>

                        <br><h6 class="description-title">
                            2. Purposes for which Your Personal Data may be Used
                        </h6><br>

                        <div class="policy-detail">
                            <p>
                                &emsp;We may use your personal data for one or more of the following purposes:
                            </p>

                            <ol>
                                <li>Offering, selling and distributing related products and services;</li>
                                <li>Processing and implementing your purchase orders and related payment instructions;</li>
                                <li>Opening, maintenance and administration of your service accounts and records;</li>
                                <li>Communicating with you including handling your requests and enquiries; about our products and services, events and marketing promotion;</li>
                                <li>Facilitating us in providing and enhancing our products and services, including designing and providing products and services that may better meet your personal preferences and interests;</li>
                                <li>Purposes relating to any of above.</li>
                            </ol>
                        </div>

                        <br><h6 class="description-title">
                            3. Retention of Personal Data
                        </h6><br>

                        <div class="policy-detail">
                            <p>
                                &emsp;We will retain for as long as is necessary to fulfill the original or directly related purpose for which it was collected, unless we are required to retain the personal data to satisfy any applicable legal or contractual obligations and erasure of personal data from our records will be done in accordance with specified timelines and procedures having regard to the applicable requirements.
                            </p>
                        </div>

                        <br><h6 class="description-title">
                            4. Protection of information
                        </h6><br>

                        <div class="policy-detail">
                            <p>
                                &emsp;Computer data is stored on computer systems and storage media to which access is strictly controlled and/or are located within restricted areas.
                                <br/><br/>
                                &emsp;Access to records and data without appropriate management authorization is strictly prohibited. Authorization is granted only on a "need to know" basis which commensurate with an individual's responsibilities. Records are under the control of assigned information officers who are responsible to ensure the transfer of or access to information is legitimate and complies with the Hong Kong SAR Personal Data (Privacy) Ordinance.
                                <br/><br/>
                                &emsp;Notwithstanding the security measures we adopt, Marathon Sports cannot provide any guarantee on the security or confidentiality of the information you provide to us.
                            </p>
                        </div>

                        <br><h6 class="description-title">
                            5. Information choices and changes
                        </h6><br>

                        <div class="policy-detail">
                            <p>
                                &emsp;By using and accessing the Marathon Sports website, you signify that you agree to the terms of this privacy policy. Marathon Sports may modify this policy at any time effective upon its posting. Your continued use of our products and services constitutes your acceptance of this Privacy policy and any updates.

                                For questions or concerns, please contact us at Five Handsome Boys Limited, Marathon Sports Customer Services Department.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <!-- footer -->
    <% include ../partials/footer %>
</body>




</html>
