<!-- views/pages/privacypolicy.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

    <style>
            .description-title {
            font-weight: bold;
            color: #C81D25;
        }
        .policy-detail {
            padding-left: 20px;
        }
                .bgcolor{
            background:#A62639;
        }
             .Marathon-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
      }
    </style>
</head>
<body>
    <!-- header -->
    <% include ../partials/nav %>
    <div style="height:50px; width:100%;"></div> 
    <div>
        <img src="/public/images/aboutus_title.jpg" style="width: 100%;">
    </div>
    <div class="album py-5 bgcolor" style="color:white;">
            <center><h1>RETURN & REFUND</h1></center>
    </div>
    <div class="container">
        <main role="main">
            <div class="album py-5 bg-light card mt-5 mb-5">
                <div class="container" style="width:75%;">
                    <div class="album py-5 mb-5">
                        <img src="/public/marathon-logo.png" alt="" class="Marathon-logo">
                    </div>
                    <div>
                        <br><h6 class="description-title">
                            14-day Unconditional Return Service
                        </h6><br>

                        <div class="policy-detail">
                            <p>&emsp;We aim to provide a satisfactory after-sales service including but not limited to accepting unconditional returns of unsatisfactory products within 14 days upon receipt of order confirmation.</p>
                            <p><i>&emsp;Products can be returned if the following conditions are fulfilled:</i></p>
                            <ol>
                                <li>No damage or stains</li>
                                <li>With all parts originally included with the product</li>
                                <li>Unworn, unused and unwashed</li>
                                <li>With original packaging and tags intact</li>
                                <li>Resalable</li>
                                <li>Socks and intimate wear cannot be returned due to hygiene reasons</li>
                            </ol>
                        </div>

                        <br><h6 class="description-title">
                            Return Procedure
                        </h6><br>

                        <div class="policy-detail">
                            <ol>
                                <li>Contact our customer service hotline (+852)218 00000</li>
                                <li>Make a return request telling us the item(s) you want to return and the reason(s) for returning</li>
                                <li>You will then receive a Return Request Confirmation email<br>Please print the email and attach it on the parcel when you send back the package</li>
                                <li>Return item(s) will be picked up by appointed courier at your delivery address<br>
     Please pack and seal your return securely in an undamaged bag together with the Return Request Confirmation email<br>
     Please do not use the opened original clear plastic outer packaging to return your products to avoid misplacement of products during return delivery</li>
                                <li> If there is any free gift in the order and you cannot fulfill the original order requirements of receiving free gift(s) after making returns, it must be sent together with the order for the return and refund process. If the free gift is not returned, the retail amount of the gift will be deducted from the refund amount.</li>
                                <li>Once we receive the returned products and determine that they satisfy return conditions, we will arrange your refund as soon as possible.</li>
                                <li>The returned products will be sent back to you if they were determined as man-made defects. Please note that additional shipping fee of HK$50 will be charged.</li>
                           </ol>
                        </div>

                        <br><h6 class="description-title">
                            Return Delivery Charge
                        </h6><br>

                        <div class="policy-detail">
                            <p>
                                &emsp;Please note that we will charge HK$50 return shipping fee for all return shipments except certain promotion periods (check the latest shipping promotion offers on Promotions), the amount will be deducted from the total refund amount of the returned order. 
                            </p>
                        </div>

                        <br><h6 class="description-title">
                            Exchange
                        </h6><br>

                        <div class="policy-detail">
                            <p>
                                &emsp;In order to let you receive the correct product faster, we provide the service of return instead of exchange.
                                <br/><br/>
                                &emsp;Please return the unwanted items following the Return Procedure and then place a new order directly for the products you want.
                           </p>
                        </div>

                        <br><h6 class="description-title">
                           Return Policy
                        </h6><br>

                        <div class="policy-detail">
                            <p>
                                &emsp;Marathon Sports Online Store provides a full "14-day Unconditional Return Service" upon receipt of order confirmation. You can return your products purchased at https://www.marathonsports-eshop.hk/ for any reason or without any condition. Please return your purchase together with the hard copy of return request confirmation email; otherwise we cannot process the return. Please make sure that any item you want to return must be in a condition where it can be sold again and the original package must be intact.

                                For questions or concerns, please contact us at Five Handsome Boys Limited, Marathon Sports Customer Services Department.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <!-- footer -->
    <% include ../partials/footer %>
</body>




</html>
