<% include ../partials/head %>
<!-- <style>
    .f-style {
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 100;
    }
</style> -->
<body>
    <% include ../partials/nav %>
    <div class="container">
        <div style="height: 100px; width:100%;"></div>
        <!-- <div>
            <nav aria-label="breadcrumb" class="float-right" style="font-size:12px;">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Stores</li>
                </ol>
            </nav>
        </div> -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#" role="tab" data-toggle="tab" id="map-tab"><i class="fas fa-map-marked-alt"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" role="tab" data-toggle="tab" id="shop-list-tab"><i class="fas fa-list"></i></a>
            </li>
        </ul>

        <div id="map" class="mb-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d118102.8482383031!2d114.17353098370907!3d22.3266533540117!3m2!1i1024!2i768!4f13.1!2m1!1smarathon+sports!5e0!3m2!1sen!2shk!4v1538130258053" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div id="shop-list">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div style="height: 24px; width:100%;"></div>
                        <h5><i class="fas fa-store"></i> Hong Kong</h5>
                        <hr>
                        <h6 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Hong Kong</a>
                        </h6>
                        <!-- <h6 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Kowloon</a>
                        </h6>
                        <h6 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">New Territories</a>
                        </h6> -->
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <% for(var i=1; i<data.length; i++) { %>
                                <li class="list-group-item">
                                    <h5><%= data[i][4] %><br><%= data[i][3] %></h5>
                                    <p>Tel : <%= data[i][1] %><br>Business Hour :<br><%= data[i][2] %></p>
                                </li>
                            <% } %>
                        </ul>
                        <!-- <div class="panel-footer">Footer</div> -->
                    </div>
                </div>
                <!-- placeholder -->
                <div style="height:500px; weight:100%;"></div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <% include ../partials/footer %>

</body>

    <script>
    $(document).ready(function() {
        // fix navbar
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function hide_navbar() {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos < currentScrollPos) {
                document.getElementById("navbar").style.top = "0px";
            } else {
                document.getElementById("navbar").style.top = "0x";
            }
            prevScrollpos = currentScrollPos;
        }
        // $("#map-tab").addClass('active');
        // show or hide
        $("#shop-list").hide();

        $("#map-tab").click(function (){
            $("#shop-list").hide();
            $("#map").show();
            $(this).addClass('active');
            $('#shop-list-tab').removeClass('active');
        });
        $("#shop-list-tab").click(function(){
            $("#map").hide();
            $("#shop-list").show();
            $(this).addClass('active');
            $('#map-tab').removeClass('active');
        });
    });
    </script>
