<!-- views/pages/termsofuse.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

    <style>
        .description-title {
            font-weight: bold;
            color: #C81D25;
        }
        .bgcolor{
            background:#A62639;
        }
     .Marathon-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
      }
    </style>
</head>
<body>
    <!-- header -->
    <% include ../partials/nav %>
    <div style="height:50px; width:100%;"></div> 
    <div>
        <img src="/public/images/aboutus_title.jpg" style="width: 100%;">
    </div>
    <div class="album py-5 bgcolor" style="color:white;">
            <center><h1>TERMS OF USE</h1></center>
    </div>
    <div class="container">
        <main role="main">
            <div class="album py-5 bg-light card mt-5 mb-5">
                <div class="container" style="width:75%;">
                    <div class="album py-5 mb-5">
                        <img src="/public/marathon-logo.png" alt="" class="Marathon-logo">
                    </div>
                    <h3 class="description-title">Terms of Use for Digital Platform</h3><br>
                    <div>
                        &emsp;The material contained in this website has been prepared by Five Handsome Boys Limited, on the basis of the most current information available to it. The company believes, to the best of its knowledge, that all information given is reliable, but makes no guarantee of its accuracy.
                        <br/><br/>
                        &emsp;Five Handsome Boys Limited and the companies and individuals represented in this website are not responsible for any errors or omissions contained in this website, and reserve the right to make changes without notice. The said parties take no responsibility in respect of any use or reference to this website or the information contained in it, and are not liable in any event for any damages whatsoever arising out of or related to this website or the information it contains.
                        <br/><br/>
                        &emsp;Users of this website should not take any of the information in this website as being advice or recommendation, and should not rely on the information in this website for any purposes.
                        No user of this website may distribute, modify, transmit, or use the contents of this website in any manner for public or commercial purposes without written permission from Five Handsome Boys Limited. All materials and information in this website may be down-loaded for non-commercial or personal use only. Under no circumstances should the use of this website be construed as granting a license or right to use any of the intellectual property rights displayed in this website, without the written permission of Five Handsome Boys Limited.
                    </div>

                </div>
            </div>

        </main>
    </div>
    <!-- footer -->
    <% include ../partials/footer %>
</body>




</html>
